%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

%% Erlang compiler options
{erl_opts, [report, verbose]}.

%% EDoc options
{edoc_opts, []}.

%% Options for eunit:test()
{eunit_opts, []}.

%% == Dependencies ==

%% Where to put any downloaded dependencies. Default is "deps"
{deps_dir, "deps"}.

{deps, [{jiffy, "0.5.*",
         {git, "git://github.com/davisp/jiffy.git", {branch, "master"}}}
        ]}.

{cover_enabled, true}.
